.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav{
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  z-index: 1000;
}

img {
  height: inherit;
  width: fit-content;
}

mat-sidenav {
  background-color: blue;
}

mat-toolbar {
  background-color:black;
  color: azure;
}

.white {
  background-color: white;
}