<div class="" [formGroup]="stepFormGroup">
    <div>
        <h3 class="questionText" #questionText>{{question}}</h3>
    </div>
    <br>
    <div class="">
        <ng-content #question></ng-content>
    </div>
    <div class="center">
        <mat-card-actions matRipple
        [matRippleCentered]="true"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="true"
        [matRippleRadius]="20"
        [matRippleColor]="'red'">
            <button *ngIf="!first" mat-button color="primary" mat-raised-button	matStepperPrevious>הקודם</button>
            <button *ngIf="!last" mat-button color="primary" mat-raised-button matStepperNext>הבא</button>
        </mat-card-actions>
    </div>
</div>
