.card-header {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}

img {
    width: inherit;
   
    max-height: 150px;
}

mat-radio-button {
    margin-right: 10px;
}
