<div class="welcome-screen">
<h3>חיילים בודדים? מגיעות לכם זכויות!</h3>

<h2>תנו לנו לבדוק עבורכם מה מגיע לכם!</h2>

<h2>כל מה שאתם צריכים לעשות זה לענות על שאלון קצת שיקח 3 דקות וכבר תוכלו לקבל זכויות מיידיות!</h2>

<p>*השאלון אנונימי ולא נשמר אצלנו</p>
</div>
<div class="center">
    <a routerLink="/questionnaire" routerLinkActive="active">
    <button mat-button mat-raised-button>יאללה לשאלון!</button>
    </a>
</div>
<div class="center">
    <img class="img-responsive" src="assets/welcome.svg" alt="">
</div>